{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block text-darker">
        <ul class="pagination">
            {# First #}
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="page-item">
                    <a href="{{ posts.pagination.pages|first.link }}" class="page-link">First</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link disabled">First</a>
                </li>
            {% endif %}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="page-item">
                    <a href="{{ posts.pagination.prev.link }}" class="page-link">Previous</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link disabled">Previous</a>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li class="page-item">
                        <a href="{{ page.link }}" class="page-link {{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current page-item">
                        <span class="page-link {{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="page-item">
                    <a href="{{ posts.pagination.next.link }}" class="page-link">Next</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link disabled">Next</a>
                </li>
            {% endif %}

            {# Last #}
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="page-item">
                    <a href="{{ posts.pagination.pages|last.link }}" class="page-link">Last</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link disabled">Last</a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
